@charset "utf-8";

* {margin:0;padding:0;}
body {color:#504a45;font-size:12px;line-height:1.5;font-family:Arial, Dotum,Tahoma,Sans-serif !important}
html{overflow:hidden;overflow-y:scroll}

h1, h2, h3, h4, h5, h6 {font-size:1em;font-weight:normal;font-family:Arial,Dotum, Tahoma,Sans-serif}
hr {display:none;}
ul, ol, li {list-style-type:none;font-family:Arial,Tahoma,Sans-serif}
fieldset{margin:0;padding:0;border:0;}
legend,caption {display:none}
address, em, cite {font-style:normal;}
input, button, textarea, select {font-size:1em;font-family:Arial,AppleGothic,Sans-serif}
button, textarea, input, object, select {display:inline-block;vertical-align:middle;}
code, pre {font-size:1em;}
button{overflow:visible;border:none}

.clear{*height:1%;}
.clear:after{content:".";height:0;visibility:hidden;display:block;clear:both;}
* html .clear{height:1%;}
.cboth{clear:both;}
.cboth:after{content:"";clear:both;display:block;}

.hidden{position:absolute !important;visibility:hidden !important;top:-9999px !important;left:-9999px !important;font:0/0 Arial}

/* important css */
.t_left {text-align:left !important;}
.t_center {text-align:center !important;}
.t_right {text-align:right !important;}
.f_left {float:left !important;}
.f_center {float:enter !important;}
.f_right {float:right !important;}

.t_normal{font-weight:normal !important}
.t_sp{letter-spacing:-1px !important}

.marT0{margin-top:0px !important}
.marT5{margin-top:5px !important}
.marT10{margin-top:10px !important}
.marT15{margin-top:15px !important}
.marT20{margin-top:20px !important}
.marT25{margin-top:25px !important}
.marT30{margin-top:30px !important}
.marT35{margin-top:35px !important}
.marT40{margin-top:40px !important}
.marT45{margin-top:45px !important}
.marT50{margin-top:50px !important}

body{background:none !important}
#guideWrapper{padding:20px;text-align:left !important}
#guideHeader{position:fixed;top:0;left:0;margin-right:20px;width:100%;height:167px;background:#fff;z-index:9999}
#guideHeader h1{margin:20px 0 20px 20px;font:bold 24px/1.1 Dotum}
.gnb{padding:0 20px !important;background:#eaab00}
.gnb a{display:inline-block;*display:inline;*zoom:1;padding:14px 15px 9px 15px;color:#fff;font-size:16px;font-weight:bold;vertical-align:top}
.gnb a:link, .gnb a:active, .gnb a:visited{color:#fff;}
.gnb a.on{margin-top:5px;padding:11px 15px 8px 15px;color:#444;border:1px solid #444;border-bottom:none;border-radius:8px 8px 0 0;background:#fff}
.subGnb{margin:10px 20px 0 25px;border-bottom:1px solid #ddd}
.subGnb a{display:inline-block;margin-bottom:5px;padding:5px 10px;color:#444;font-size:14px}
.subGnb a:link, .subGnb a:visited, .subGnb a:active{color:#444}
.subGnb a.on{color:#000;font-weight:bold;border:1px solid #ddd;border-radius:3px;background:#eee}

#guideContainer{padding:120px 0 0 0;*zoom:1;z-index:10}
#guideContainer:after{content:".";clear:both;display:block;height:0;visibility:hidden}
#guideContainer .snb{position:fixed;top:147px;left:20px;float:left;width:220px}
#guideContainer .snb h2{padding-bottom:10px;color:#443223;font-size:21px;font-weight:bold;line-height:1;border-bottom:2px solid #443223}
#guideContainer .snb ul li{border-bottom:1px solid #d0d0d0}
#guideContainer .snb ul li a{display:block;padding:10px;font-size:14px}
#guideContainer .snb ul li a:hover, #guideContainer .snb ul li a.on{font-weight:bold;background:#e4d6cb}
#guideContainer .snb ul li a.on{font-size:16px}
#guideContainer .snb ul li .snb_dep2{padding:7px 0}
#guideContainer .snb ul li .snb_dep2 a{display:block;padding:3px 0 2px 19px;font-size:12px;background:no-repeat 10px 10px}
#guideContainer .snb ul li.on .snb_dep2{display:block}
#guideContainer .snb ul li .snb_dep2 a.on{color:#0095d6;font-weight:bold}

.link_new{color:#7d5210 !important;text-decoration:underline !important}
.pageTit_dep1{height:32px;margin-bottom:25px;color:#443223;font-size:24px !important;font-weight:bold;line-height:1;border-bottom:1px solid #ddd}
.pageTit_dep2{padding:3px 0 10px;color:#443223;font-size:14px;font-weight:bold}
.pageTit_dep3{padding:3px 0 5px;color:#666;font-weight:bold}
.listNum li{margin-left:20px;*margin-left:23px;list-style:circle}
.listNumSub li{list-style:disc}

.typeList{width:100%;border-spacing:0;border-top:1px solid #bcbcbc;border-right:1px solid #bcbcbc;*empty-cells:show;*border-collapse:collapse}
.typeList th, .typeList td{padding:4px 3px 2px 3px;border-bottom:1px solid #bcbcbc;border-left:1px solid #bcbcbc}
.typeList th{text-align:center;background:#f3eddd}

.typeList tbody tr td:first-child, .typeList tbody tr td+td+td+td+td+td{text-align:center}
.typeList tbody tr.groupT td{background:#ddd}

.typeList tr:hover{background:#e6cc85}
.typeList tr.add td{background:#edc9a5}
.del{text-decoration:line-through}

.guideIndex{width:944px}
.guideIndex h2{margin-bottom:10px;color:#111;font-size:16px}